body{
  background: linear-gradient(
    #010426,
    #242c91
  );
    color:#e4e5e9;
    overflow-x: hidden;
}

section{
  padding-top: 30px;
}

header{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: black;
  color: white;
  z-index: 1;
}

nav>ul{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
}

nav>ul>li{
  display:block;
  padding: 0.2rem;
}

h2, h3{
  color: black;
  background-color: rgb(130, 129, 134);
  padding-left: 3vw;
}

table, th, td{
  border: 2px solid black;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
  background-color: white;
  color: black;
}

#header-img{
  height:40px;
}

#b{
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 2px solid black;
  background-color: rgb(2, 2, 2);
}

#form{
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-left: 3vw;
}

#video{
  width:10vw;
  height:30vh;
  border: 2px solid black;
  border-radius: 10px;
  z-index: -1;
  margin-left: 3vw;
}

footer{
  text-align: center;
  padding: 10px;
  background-color: black;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

a:visited{
  color: lightgray;
}