body{
  background: linear-gradient(
    #010426,
    #242c91
  );
    color:#7e8091;
}

section{
  padding-top: 30px;
}

header{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: black;
  color: white;
  z-index: 1;
}

nav>ul{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
}

nav>ul>li{
  display:block;
  padding: 0.2rem;
}

h2, h3, #td, #b, table>thead{
  color: black;
}

#header-img{
  height:40px;
}

video{
  border: 2px solid black;
  border-radius: 10px;
  z-index: -1;
}


@media(max-width:200px){
  body{
    background-color: linear-gradient(
      #04373b,
      #1d6a70
    )
  }
}