@media (prefers-reduced-motion: no-preference){
* {
  scroll-behavior: smooth;
}
}

body{
  background-color: #29292e;
}

h1{
  background-color: #0e063d;
  color:#fff
}

nav > ul > li:hover {
  background-color: #dfdfe2;
  color: #1b1b32;
  cursor: pointer;
}

a{
  color: #138d8f;
}

section > header {
  color:#45444d ;
  background-color:black ;
}

.main-section{
  background-color:#494a52;
}

.intro{
 background-color:#8c8c96;
}

.sol{
background-color:#8c8c96;
}